/* ==========================================================================
   #POMODORO APP STYLES
   ========================================================================== */

/**
 *
 * Inheriting box sizing slightly better best-practice
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 *
 */

html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --pomodoro: hsl(223, 25%, 40%);
  --shortBreak: hsl(48, 23%, 40%);
  --longBreak: hsl(105, 16%, 40%);
}

body {
  background-color: var(--pomodoro);
  transition: background-color 1s ease;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  user-select: none;
}

progress {
  border-radius: 2px;
  width: 100%;
  height: 12px;
  position: fixed;
  top: 0;
}

progress::-webkit-progress-bar {
 background-color: rgba(0, 0, 0, 0.1);;
}

progress::-webkit-progress-value {
  background-color: #fff;
}

.timer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
}

.clock {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 15rem;
  line-height: 1;
  display: flex;
  align-items: center;
  font-family: arial, sans-serif;
  color: white;
}

.mode-button {
  font-size: 16px;
  height: 28px;
  cursor: pointer;
  box-shadow: none;
  font-weight: 300;
  color: #fff;
  border: 1px solid transparent;
  margin: 0px;
  border-radius: 4px;
  padding: 2px 12px;
  background: none;
}

.mode-button.active {
  border-color: #fff;
}

.main-button {
  cursor: pointer;
  box-shadow: rgb(235, 235, 235) 0px 6px 0px;
  font-size: 22px;
  height: 55px;
  text-transform: uppercase;
  color: hsl(175, 26%, 41%);
  font-weight: bold;
  width: 200px;
  background-color: white;
  border-width: initial;
  border-style: none;
  margin: 20px 0px 0px;
  padding: 0px 12px;
  border-radius: 4px;
  transition: color 0.5s ease-in-out 0s;
}

button:focus, button:active {
  outline: none;
}
.main-button{
  position: fixed; /* Position the button */
  top: 330px; /* Adjust the distance from the top */
  right: 400px; /* Adjust the distance from the right */
  z-index: 2; /* Ensure the button is above other elements */


}
.main-button.active {
  transform: translateY(6px);
  box-shadow: none;
  outline: none;
}

.hidden {
  display: none;
}

@media screen and (max-width: 550px) {
  .clock {
    font-size: 8rem;
  }
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('background/download.gif'); /* Set default background */
  background-size: cover; /* Cover the entire background */
}
.settings-button{
  display: inline-block;
  position: fixed; /* Position the button */
  top: 579px; /* Adjust the distance from the top */
  right: 800px; /* Adjust the distance from the right */
  width:5px;
  border: none;
  background-color: transparent;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  max-width: 50%;
  max-height: 50%;
}
.settings-button img{
  width: 60px;
  height: 60px;
  z-index: 1;
}
.background-button{
  position: fixed; /* Position the button */
  border:none;
  color:rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  box-shadow: none;
  outline: none;
  top: 615px; /* Adjust the distance from the top */
  right: 700px; /* Adjust the distance from the right */
  z-index: 2; /* Ensure the button is above other elements */
  font-size: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.background-button{
  text-align: center;

}
.backgrounds {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.backgrounds img {
  position: absolute;
  top: 0;
  left: 0;
  right:50px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: fixed;
  display: none;
  background-color: clear;
  min-width: 160px;
  z-index: 2;
  position: fixed; /* Position the button */
  top: 680px; /* Adjust the distance from the top */
  right: 675px; /* Adjust the distance from the right */
  column-count: 1; /* Set to 1 column */
  column-gap: 10px; /* Adjust the gap between columns */
}

.dropdown-content img {
  display: fixed; /* Display images as blocks */
  width: 100px;
  cursor: pointer;
  margin: 5px;
}

.dropdown-content.active {
  display: block;
}

#dropArea {
  display: fixed;
  width: 110px;
  height: 56.19px;
  border: 2px dashed #ccc;
  border-radius: 10px;
  z-index: 3;
  color:white;
  text-align: center;
}

